Code/Node Red/Node red.txt
[{"id":"e42b56d0.1bd4a8","type":"mqtt-broker","broker":"broker.i-dat.org","port":"80","clientid":""},{"id":"ed1bf0e9.12e41","type":"mqtt in","name":"ball-data","topic":"relax/ball","broker":"e42b56d0.1bd4a8","x":129,"y":83,"z":"96a39b3d.695c68","wires":[["400d6017.bff2a"]]},{"id":"825f1089.7da0f","type":"debug","name":"ball debug","active":true,"console":"false","complete":"payload","x":588,"y":69,"z":"96a39b3d.695c68","wires":[]},{"id":"400d6017.bff2a","type":"function","name":"Ball Check ","func":"if (msg.payload<3850) {\n  context.global.stress.push(parseInt(msg.payload));\n  return msg;\n}","outputs":1,"noerr":0,"x":367,"y":219,"z":"96a39b3d.695c68","wires":[["825f1089.7da0f"]]},{"id":"9d77682f.628898","type":"mqtt in","name":"chair","topic":"relax/chair","broker":"e42b56d0.1bd4a8","x":131,"y":368,"z":"96a39b3d.695c68","wires":[["426362fd.bd9c9c","62cbd471.9d342c"]]},{"id":"426362fd.bd9c9c","type":"function","name":"chair check","func":"\namount = 0;\nresult = 0;\nif (msg.payload == \"001\"){\n    for(var x=0;x<context.global.stress.length;x++){\n        amount = amount + context.global.stress[x];\n    }\n    result = amount/context.global.stress.length;\n    context.global.stress = [];\n    msg.payload = result;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":365,"y":369,"z":"96a39b3d.695c68","wires":[["62cbd471.9d342c","d0afa26e.2f506"]]},{"id":"62cbd471.9d342c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":428,"y":493,"z":"96a39b3d.695c68","wires":[]},{"id":"bef6f6c0.410908","type":"inject","name":"","topic":"","payload":"1200","payloadType":"string","repeat":"","crontab":"","once":false,"x":145,"y":218,"z":"96a39b3d.695c68","wires":[["400d6017.bff2a"]]},{"id":"92f4641a.6d0b98","type":"function","name":"Initialise","func":"context.global.stress = [];","outputs":1,"noerr":0,"x":327,"y":24,"z":"96a39b3d.695c68","wires":[[]]},{"id":"ee92e798.116d18","type":"inject","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":135,"y":24,"z":"96a39b3d.695c68","wires":[["92f4641a.6d0b98"]]},{"id":"7c773da.f8388c4","type":"mqtt out","name":"","topic":"vibration","qos":"","retain":"","broker":"e42b56d0.1bd4a8","x":751,"y":377,"z":"96a39b3d.695c68","wires":[]},{"id":"d0afa26e.2f506","type":"function","name":"emo","func":"if (msg.payload <1000){\n    \n    msg.payload = \"mad\";\n}\n\n\n\nelse if (msg.payload < 2500){\n    \n    msg.payload = \"middle\";\n}\n\nelse if (msg.payload < 3500){\n    \n    msg.payload = \"happy\";\n} \n\n \nreturn msg;","outputs":1,"noerr":0,"x":550,"y":373,"z":"96a39b3d.695c68","wires":[["7c773da.f8388c4"]]}]